@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container {
	min-height: 10rem;
	height: 94vh;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.ql-editor {
	height: 90vh;
	flex: 1;
	overflow-y: auto;
}
